.button-cardItens {
  background-color: #198754;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times New Roman , Times , serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;

  /* -webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
  width: 20vw;
}

.button-cardItens:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.product {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5px;
  width: 45%;
}

.product:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-details {
  background-color: #e67a00;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times , serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;

  /* -webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
  width: 20vw;
}

.button-details:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1.5px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.price {
  font-size: 20px;
  font-weight: 800;
}
