.productCheckout {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  width: 100%;
}

.nameCheckout {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  width: 16%;
}

.checkoutP {
  width: 8%;
}

input {
  font-family: Times , serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin-bottom: 4px;
  margin-right: 10px;
  text-align: center;
}

.titleCheckout {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

form {
  text-align: center;
}

.buttonComprarCheckout {
  background-color: #198754;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times , serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;

  /* -webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
  width: 10vw;
}
