.container-home {
  height: 100vh;
  padding: 50px;
  width: 100vw;
}

.carrinho {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 20px 150px;
  position: absolute;
  top: 0;
  width: 100%;
}

.search-title {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.input-home {
  border: 1px solid #555;
  box-sizing: border-box;
  font-family: Times , serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  outline: none;
  padding: 20px 150px;
  text-align: center;
  width: 50%;
}

.input-home:focus {
  background-color: #f4f4f4;
}

.label-input {
  text-align: center;
}

.button-home {
  background-color: #198754;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times New Roman , Times , serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;

  /* webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
  width: 20vw;
}

.button-home:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-div {
  text-align: center;
}

.aside-home {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  margin-top: 20px;
}

.button-category {
  background-color: rgb(50, 167, 145);
  border: none;
  border-color: #198754;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times , serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-top: 5px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;

  /* -webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
}

.button-category:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.search {
  display: flex;
  flex-direction: column;
}

.categorias-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-home {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 70%;
}
