.buttonCartItens {
  background-color: darkred;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times , serif;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;

  /* -webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
  width: 10vw;
}

.buttonCartItens:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttonCartItensAumentar {
  background-color: #198754;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times , serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;

  /* -webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
  width: 10vw;
}

.buttonCartItensAumentar:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttonCartItensRemover {
  background-color: #198754;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times , serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  margin-left: 30px;
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;

  /* -webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
  width: 10vw;
}

.buttonCartItensRemover:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttonCartItensCheckOut {
  background-color: #198754;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Times , serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 20px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;

  /* -webkit-transition-duration: 0.4s; */
  transition-duration: 0.4s;
  width: 10vw;
}

.buttonCartItensCheckout:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24) , 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


.productCart {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  width: 100%;
}

.botaoCart {
  display: flex;
  justify-content: space-around;
}

.itemCart {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  width: 45%;
}
